<h2 class="page-header">All Polls</h2>
<div class="main">
  {{#polls}}
    <div class="poll-container">
      <h4 class='poll-header'>{{ question }}</h4>
      {{#options}}
      <p>{{ text }}: {{ votes }}</p>
      {{/options}}
    </div>
  {{/polls}}
</div>
