<h2 class="page-header">All Polls</h2>
<div class="main">
  {{#polls}}
    <div class="poll-container">
      <h4 class='poll-header'><a href="/polls/{{_id}}">{{ question }}</a></h4>
    </div>
  {{/polls}}
</div>
