<h2 class="page-header">Your polls:</h2>
<div class="main">
  {{#polls}}
    <div class="poll-container">
      <h3 class='poll-header'><a href="/polls/{{_id}}">{{ question }}</a></h3>
    </div>
  {{/polls}}
</div>
