<h2 class="page-header">Dashboard</h2>
<p>Welcome to your dashboard</p>
<div class="main">
  {{#polls}}
    <div class="poll-container">
      <h4 class='poll-header'><a href="/polls/{{_id}}">{{ question }}</a></h4>
      {{#options}}
      <p>{{ text }}: {{ votes }}</p>
      {{/options}}
    </div>
  {{/polls}}
</div>
