<h2 class="page-header">Create a poll</h2>
<form method="post" action="/polls/newpoll">
  <div class="form-group">
    <label>Poll Question</label>
    <input type="text" class="form-control" name="question" placeholder="enter your question here">
  </div>
  <div class="form-group">
    <label>Poll Options</label>
    <input type="text" class="form-control" name="responses" placeholder="enter two or more options, separated by commas">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
